.bain{
    border-radius: 50%;
}
.mck{
    border-radius: 50%;
}
.fluteimg{
    border-radius: 20%;

}
.climb{
    border-radius: 20%;
}
.trip {
    border-radius: 20%;
}
.pets{
    border-radius: 20%;
}
.d-block{
    border-radius: 20%;
}
h4{
    text-align: center;
}
.name{
    color:#B80000;
}
.nav-link{
    color: #116D6E ;
    font-family: sans-serif;
}
