.bain{
    border-radius: 50%;
}
.mck{
    border-radius: 50%;
}
.fluteimg{
    border-radius: 20%;

}
.climb{
    border-radius: 20%;
}
.trip {
    border-radius: 20%;
}
.pets{
    border-radius: 20%;
}
.d-block{
    border-radius: 20%;
}
h4{
    text-align: center;
}
.name{
    color:#B80000;
}
.nav-link{
    color: #116D6E ;
    font-family: sans-serif;
}


/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .img-container {
    height: 500px; 
    overflow: hidden;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  body, html {
    height: 100%;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
 
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #c1c6dd41;
}

.hero-text {
    width: 50%;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family:monospace;
}

.hero-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image {
    width: 50%;
    height: 500px; /* Set a fixed height */
    background-image: url('./images/cougar.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Ensure the image is not repeated */

    
   
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-text, .hero-image {
        width: 100%;
    }
}

